.accordion-section {
  h1 {
    color: #4A4A4A;
    font-family: $josefin;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
  }
}
.hide{
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  padding: 0;
  position: absolute;
  width: 1px;
}
.accordion{
  color: #3F3F3F;
  &-item{
    position: relative;
    width: 100%;
    border-top: 1px solid #E3E3E3;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  &-label{
    padding: 15px 0 15px 15px;
    width: 100%;
    @include flexbox;
    @include align-items(center);
    position: relative;
    font-family: $roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    img{
      height: 24px;
      width: 24px;
      margin-right: 10px;
    }
    &:hover{
      cursor: pointer;
    }
    &:after,
    &:before{
      position: absolute;
      content: '';
      height: 1px;
      width: 15px;
      background: #000;
      top: 50%;
      transition: .3s;
    }
    &:after{
      transform: rotate(-45deg);
      right: 5px;
    }
    &:before{
      transform: rotate(45deg);
      right: 16px;
    }
    input[type=checkbox]:checked ~ &:before{
      right: 5px;
    }
    input[type=checkbox]:checked ~ &:after{
      right: 16px;
    }
  }
  &-child{
    margin: 0;
    overflow: hidden;
    font-family: $roboto;
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    transition: all 0.3s ease;
    opacity: 0;
    height: 0;
    transform-origin: center top;
    input[type=checkbox]:checked ~ &{
      height: auto;
      opacity: 1;
      padding: 0 15px 15px 50px;
    }
  }
}

.accordion{
  color: #3F3F3F;
  h3.accordion-title{
    padding: 15px 45px 15px 15px;
    width: 100%;
    @include flexbox;
    @include align-items(center);
    position: relative;
    font-family: $roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    background: none;
    img {
      height: 24px;
      width: 24px;
      margin-right: 10px;
    }
    .ui-icon{
      display: none;
    }
    &:after,
    &:before{
      position: absolute;
      content: '';
      height: 1px;
      width: 15px;
      background: #000;
      top: 50%;
      transition: .3s;
    }
    &:after{
      transform: rotate(-45deg);
      right: 5px;
    }
    &:before{
      transform: rotate(45deg);
      right: 16px;
    }
    &.ui-state-active{
      color: #3F3F3F;
      &:before{
        right: 5px;
      }
      &:after{
        right: 16px;
      }
    }
    &.ui-corner-top{
      border: none;
      border-top: 1px solid #E3E3E3;
      &:last-child{
        border-bottom: 1px solid #e3e3e3;
      }
    }
  }
  .accordion-children {
    margin: 0;
    padding: 15px 45px 15px 15px;
    overflow: hidden;
    font-family: $roboto;
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    border: none;
    ol {
      padding-left: 20px !important;
    }
    //height: auto !important;
    > * {margin: 0 !important; padding: 0 !important;}
  }
}

@media (max-width: 768px){
  .accordion h3.accordion-title {
    padding: 15px 45px 15px 0;
  }
  .accordion .accordion-children {
    padding: 1em 3em 1em 0;
  }
}