section.banner{
  max-width: 100%;
  height: 100vh;
  background-position: center;
  position: relative;
  @include flexbox;
  @include justify-content(center);
  @include align-items(center);
  transition: .3s;
  -webkit-background-size: cover;
  background-size: cover;
  &.search{
    height: 638px;
  }
  &.success,
  &.guide_page{
    height: 80vh;
  }
  .container{
    position: relative;
    z-index: 5;
    max-width: 931px;
    width: 100%;
    text-align: center;
    color: #fff;
  }
  .block_title{
    text-transform: uppercase;
    margin: 0 auto 30px;
  }
  .block_subtitle{
    text-align: center;
  }
  .category_name{
    font-family: $josefin;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 3.2px;
    line-height: 14px;
    text-transform: uppercase;
    margin-bottom: 18px;
  }
}
@media(max-width: 991px){
  section.banner{
    .container{
      padding-bottom: 144px;
      padding-top: 166px
    }
  }
}