article.be_heard{
  .square{
    background: none 50%/cover no-repeat;
    box-shadow: 6px 6px 13px 0 rgba(0,0,0,.5);
    transform: rotate(45deg);
    overflow: hidden;
  }
  .image{
    position: absolute;
    @include flexbox;
    @include align-items(center);
    @include justify-content(center);
    div{
      border-radius: 14px;
    }
  }
  .big_image{
    height: 447.88px;
    width: 448.94px;;
    left: 310px;
    top: 0px;
    div{
      height: 447.88px;
      width: 448.94px;
    }
  }
  .small_image{
    height: 218.12px;
    width: 219.06px;
    top: 275px;
    left: 75px;
    div{
      height: 218.12px;
      width: 219.06px;
    }
  }
  .tiny_image{
    height: 166px;
    width: 168px;
    left: 140px;
    top: -30px;
    div{
      height: 166px;
      width: 168px;
    }
  }
}
@media (max-width: 991px) {
  article.be_heard{
    .container{
      @include flex-direction(row-reverse);
      padding: 0 10px;
    }
    section.left {
      width: 100%;
    }
    .small_image{
      display: none;
    }
    .tiny_image{
      display: none;
      left: -181px;
      top: -251px;
      width: 152px;
      height: 152px;
      div{
        width: 152px;
        height: 152px;
      }
    }
    .big_image{
      display: none;
      left: -129px;
      top: -238px;
      width: 379px;
      height: 379px;
      div{
        height: 379px;
        width: 379px;
      }
    }
  }
}