.breadcrumb{
  .container{
    padding: 100px 10px 10px;
    @include display-grid;
    grid-template-columns: 100px 1fr;
    @include align-items(center);
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    color: #4A4A4A;
    border-bottom: 1px solid #e3e3e3;
  }
  a{
    height: 24px;
    border-right: 1px solid #e3e3e3;
    padding-left: 20px;
    padding-top: 3px;
    @include flexbox;
    @include align-items(center);
    img{
      margin-right: 10px;
    }
  }
  .links{
    padding-left: 20px;
    padding-top: 3px;
    span{
      font-weight: 300;
    }
  }
}