.button{
  width: 210px;
  background-color: rgba(67,86,107,.75);
  justify-content: center;
  height: 44px;
  @include flexbox;
  @include align-items(center);
  border: 1px solid transparent;
  border-radius: 3px;
  padding: 0;
  transition: .1s ease;
  &:hover{
    background-color: #43566b;
  }
}