.common_style_articles{
  @include flexbox;
  @include justify-content(center);
  .divider_block{
    margin-left: 0;
  }
  .block_title{
    letter-spacing: 0;
    font-weight: 400;

  }
  .container{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    section{
      width: 50%;
      position: relative;
    }
  }
}