@font-face {
  font-family: 'lucida';
  src: url('fonts/8291.eot');
  src: local('☺'), url('fonts/8291.woff') format('woff'), url('fonts/8291.ttf') format('truetype'), url('fonts/8291.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}