footer{
  background-color: rgb(227, 227, 227);
  .container{
    @include flexbox;
    max-width: 1440px;
    padding: 50px 10px 110px;
  }
  .left,
  .right{
    @include flexbox;
    @include flex-basis(50%);
    strong{
      font-weight: 500;
      color: #4a4a4a;
    }
  }
  .left{
    @include flex-direction(column);
    padding: 20px 50px 20px 20px;
    p{
      display: block;
      word-break: break-all;
      word-break: break-word;
      overflow-wrap: break-word;
      color: #4a4a4a;
      font-size: 1.4rem;
      font-weight: 300;
      line-height: 1.3;
      will-change: color;
      transition: color .15s ease;
    }
    img{
      @include flexbox;
      @include align-self(flex-start);
      margin-top: 25px;
    }
  }
  .right{
    @include justify-content(space-between);
    padding: 20px 20px 20px 50px;
    nav{
      margin-bottom: 10px;
      @include flexbox;
      @include flex-direction(column);
      @include flex-shrink(0);
      a{
        @include flexbox;
        @include flex-shrink(0);
        @include align-items(center);
        font-size: 1.4rem;
        font-weight: 500;
        text-decoration: none;
        color: #fff;
        cursor: pointer;
        transition: .05s ease;
        white-space: pre-line;
        word-break: break-all;
        word-break: break-word;
        overflow-wrap: break-word;
        span{
          color: #4a4a4a;
          margin-bottom: 10px;
          display: inline;
          font-size: 1.4rem;
          font-weight: 300;
          line-height: 1.3;
          will-change: color;
          transition: color .15s ease;
        }
      }
      strong {
        margin-bottom: 10px;
      }
      .sub-nav,
      .socials{
        @include flexbox;
        @include flex-direction(column);

      }
      .sub-nav{
        padding-left: 10px;
      }
      .socials{
        @include align-items(center);
        a{
          margin-bottom: 30px;
        }
      }
    }
  }
}
@media (max-width: 991px){
  footer{
    .container{
      @include flex-direction(column);
      padding: 50px 10px 10px;
    }
    .left,
    .right{
      @include flex-basis(auto);
      padding: 20px;
    }
    .right{
      @include flex-direction(column);
      nav{
        .socials{
          flex: 1;
          @include flex-direction(row);
          padding: 10px;
          @include align-self(auto);
          @include justify-content(space-between);
        }
      }
    }
  }
}