*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html, body {
  width: 100%;
  height: 100%;
}
:focus {
  outline: none;
}
img{
  max-width: 100%;
}
input:focus,
button:focus,
textarea:focus {
  outline: none;
}
ul{
  li{
    list-style: disc;
    padding: 10px 20px;
    margin-left: 20px;
  }
}
a{
  text-decoration: none;
  color: inherit;
}
hr{
  box-sizing: border-box;
  height: 2px;
  border: 1px solid #979797;
  margin: auto;
  width: 75%;
}
blockquote, dd, dl, figcaption, figure, ol, p, pre, ul {
  margin-bottom: 1.5rem;
}

html {
  font-size: 62.5%;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
}
body{
  font-family: $roboto;
  color: #3F3F3F;
  background-color: #fff;
  letter-spacing: .02rem;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
section, article{
  .container {
    margin: 0 auto;
    max-width: 1152px;
    position: relative;
    padding: 10px;
  }
}

.block_title{
  font-family: $josefin;
  font-size: 5.8rem;
  font-weight: 600;
  letter-spacing: 20px;
  text-transform: inherit;
  white-space: pre-wrap;
  margin: 0 auto 20px;
}
.block_subtitle{
  font-family: $roboto;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 24px;
  margin-top: 30px;
}
.divider_block{
  height: 5px;
  width: 72px;
  border-radius: 4.5px;
  background-color: #a3947a;
  margin: auto;
}
@media (max-width: 991px) {
  .block_title {
    font-size: 3.2rem;
    letter-spacing: 12px;
    white-space: normal;
  }
  .block_subtitle{
    font-size: 1.6rem;
  }
}