article.get_paid{
  .get_paid_big_image{
    position: absolute;
    left: -460px;
    top: -100px;
    height: 448px;
    max-width: none;
  }
  .container{
    padding: 112px 10px 145px;
    section{
      z-index: 1;
    }
  }
}
@media (max-width: 991px) {
  article.get_paid {
    .container {
      padding: 50px 10px 50px;
      section {
        &.right {
          width: 100%;
        }
        &.left {
          display: none;
          .get_paid_big_image{
            display: none;
          }
        }
      }
    }
  }
}
