article.get_started{
  .container{
    padding: 100px 10px 150px;
  }
  .block_subtitle{
    strong{
      display: block;
      padding-bottom: 20px;
      font-weight: 400;
    }
    a{
      color: #43566B;
      font-weight: 500;
    }
  }
  section{
    position: relative;
    &.left{
      img{
        max-width: none;
        position: absolute;
        &.big_image{
          right: 150px;
          top: -167px;
          height: 602px;
          width: 1035px
        }
        &.small_image{
          right: 125px;
          top: 0;
          height: 496px;
          width: 249px
        }
      }
    }
  }
}
@media (max-width: 991px) {
  article.get_started{
    .container{
      flex-direction: row-reverse;
      padding: 50px 10px;
      section{
        &.right {
          width: 100%;
        }
        &.left{
          width: 0;
          img {
            &.big_image {
              display: none;
            }
            &.small_image{
              display: none;
              height: 319px;
              left: auto;
              top: -254px;
              width: 200px;
            }
          }
        }
      }
    }
  }
}