section.guide_page{
  &.banner{
    .container{
      max-width: 1100px;
    }
  }
}
body.guide_page{
  header{
    .left{
      a.mobile:last-child{
        font-style: italic;
      }
    }
  }
}
@media (max-width: 768px) {
  section.guide_page{
    &.banner{
      height: auto;
      .container {
        padding-top: 100px;
      }
    }
  }
}