header{
  position: fixed;
  width: 100%;
  background-color: #000;
  z-index: 20;
  .container{
    height: 60px;
    padding: 0 20px;
    @include flexbox;
    @include align-items(center);
    @include justify-content(space-between);
  }
  .header_menu{
    @include flexbox;
    @include justify-content(space-between);
    &.left{
      width: 450px;
      a.icon{
        pointer-events: none;
        svg {
          height: 28px;
          width: 28px;
          margin-right: 7px;
        }
        span {
          color: #F5F5F5;
          font-family: $roboto;
          font-size: 18px;
          font-style: italic;
          line-height: 21px;
        }
      }
    }
    &.right{
      min-width: 330px;
      justify-content: flex-end;
      display: none;
      .menu-button{
        display: none;
        margin-left: 10px;
        font-size: 16px;
        svg{
          display: none;
        }
        .active{
          display: block;
        }
      }
      .sign_in{
        margin-right: 30px;
        svg{
          margin-right: 10px;
        }
      }
    }
    &.left,
    &.right{
      a{
        -ms-flex-negative: 0;
        flex-shrink: 0;
        @include flexbox;
        @include align-items(center);
        font-size: 1.4rem;
        font-weight: 500;
        text-decoration: none;
        color: #fff;
        cursor: pointer;
        transition: .05s ease;
        white-space: pre-line;
        word-break: break-all;
        word-break: break-word;
        overflow-wrap: break-word;
        font-family: $roboto;
        line-height: 1.3;
        color: #fff;
        will-change: color;
        transition: color .15s ease;
        &.icon{
          transition: .15s ease;
        }
      }
    }
  }
  a.back {
    color: #FFFFFF;
    font-family: $roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    .mobile{
      display: none;
    }
    .desktop {
      display: block;
    }
  }
  .mobile_menu__container{
    display: none;
  }
  .italic{
    font-style: italic;
    font-weight: 300;
  }
}
@media (max-width: 991px){
  header{
    .header_menu{
      &.left,
      &.right{
        .mobile{
          display: none;
        }
      }
      &.right{
        display: flex;
        min-width: auto;
        .button{
          width: 132px;
        }
        .menu-button {
          @include flexbox;
          background: none;
          border: 1px solid inherit;
          padding: 10px;
          width: auto;
          &:focus{
            background-color: rgba(67,86,107,.05);
          }
        }
      }
    }
    a.back {
      font-size: 14px;
      font-weight: 500;
      line-height: 16px;
      .mobile {
        display: block;
      }
      .desktop {
        display: none;
      }
    }
    .mobile_menu__container{
      display: block;
      z-index: 2;
      position: fixed;
      top: 50px;
      transition: transform 0.3s ease 0s;
      will-change: transform;
      overflow: hidden visible;
      flex: 1 1 0%;
      flex-flow: column nowrap;
      max-width: 100%;
      height: calc(100vh - 50px);
      left: 100000px;
      transform: translateX(100%);
      box-shadow: rgba(0, 0, 0, 0.15) -2px 2px 4px;
      &.show{
        z-index: 2;
        position: fixed;
        transition: transform 0.3s ease 0s;
        will-change: transform;
        overflow: hidden visible;
        max-width: 100%;
        align-items: center;
        left: 0;
        transform: translateX(0%);
        .mobile_menu{
          @include flexbox;
          @include flex-direction(column);
          @include align-items(center);
          @include justify-content(center);
          width: 100vw;
          height: 100%;
          padding: 0 20px;
          background-color: #000;
          a{
            @include flexbox;
            @include align-items(center);
            @include justify-content(center);
            @include flex-shrink(0);
            font-size: 1.4rem;
            font-weight: 300;
            text-decoration: none;
            color: #fff;
            cursor: pointer;
            transition: .05s ease;
            white-space: pre-line;
            word-break: break-all;
            word-break: break-word;
            overflow-wrap: break-word;
            &:nth-child(1){
              border-bottom: 2px solid #3f3f3f;
              padding-bottom: 20px;
              text-align: center;
              position: relative;
              left: 0;
              right: 0;
              width: calc(100% - 20px);
              img{
                margin-right: 10px;
              }
            }
            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4){
              font-size: 1.8rem;
              font-weight: 500;
            }
            &:not(.sign_in){
              margin-bottom: 30px;
            }
          }
          .sign_in{
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            width: calc(100% - 20px);
            height: 65px;
            @include flexbox;
            @include align-items(center);
            @include justify-content(center);
            background-color: #000;
            border-top: 2px solid #3f3f3f;
            svg{
              margin-right: 5px;
            }
            strong{
              margin-left: 5px;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 767px) {
  header {
    .container {
      padding: 0 10px;
      height: 50px;
    }
    .header_menu.left a.icon{
      align-items: flex-end;
      svg {
        height: 24px;
        width: 24px;
        margin-right: 8px;
      }
      span {
        font-size: 14px;
        line-height: 16px;
      }
    }
    .header_menu.right {
      .sign_up {
        transform: scale(.8);
        transform-origin: right center;
        border-radius: 3px;
        strong {
          font-weight: 500;
          font-size: 14px;
          will-change: color;
          line-height: 1.3;
          transition: color .15s ease;
        }
      }
      .menu-button{
        padding: 0;
        svg{
          margin: 0 5px;
        }
      }
    }
  }
}