section.help{
  .container{
    @include flexbox;
    @include align-items(center);
    @include flex-direction(column);
    padding: 60px;
  }
  h2{
    color: #3F3F3F;
    letter-spacing: normal;
    font-weight: 400;
  }
  p{
    width: 691px;
    color: #3F3F3F;
    text-align: center;
    margin-top: 0;
    &.block_subtitle{
      margin-bottom: 20px;
    }
  }
  .button{
    color: #fff;
    width: 453px;
    margin: auto;
    font-size: 14px;
    font-weight: 500;
    background-color: #43566b;
    &:hover {
      background-color: rgba(67, 86, 107, .75);
    }
  }
}
@media(max-width: 991px) {
  section.help {
    .container{
      padding: 50px 10px
    }
    p {
      width: auto;
    }
    .button{
      width: 210px;
    }
  }
}