section.page_content{
  .container{
    max-width: 1174px;
    padding: 0 15px;
    margin: auto;
    .divider_block{
      margin: 54px auto 40px;
    }
    .paragraph_wrapper{
      @include flexbox;
      @include align-items(center);
      @include justify-content(center);
      &.two{
        p{
          text-align: left;
          &:first-child{
            padding-right: 12px;
          }
          &:last-child{
            padding-left: 12px;
          }
        }
      }
      p{
        width: 50%;
        color: #3F3F3F;
        font-family: $roboto;
        font-size: 14px;
        font-weight: 300;
        line-height: 16px;
        padding-bottom: 24px;
        text-align: center;
      }
    }
  }
  img{
    height: 568px;
    width: 100%;
    object-fit: cover;
  }
}
@media(max-width: 768px){
  section.page_content{
    .container{
      .paragraph_wrapper{
        @include flex-wrap(wrap);
        &.two{
          p{
            width: 100%;
            &:first-child{
              padding-right: 0;
            }
            &:last-child{
              padding-left: 0;
            }
          }
        }
        p{
          width: 100%;
          text-align: left;
        }
      }
    }
  }
}