.posts{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 263px;
  .post__item{
    background: no-repeat;
    background-size: 101%;
    position: relative;
    @include flexbox;
    @include align-items(center);
    @include justify-content(start);
    transition: background .3s;
    background-position: center;
    &_link{
      width: 100%;
      height: 100%;
      z-index: 4;
      position: absolute;
    }
    &:after{
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      background: rgba(0,0,0,.4);
      width: 100%;
      height: 100%;
      z-index: 1;
    }
    > div{
      position: relative;
      z-index: 4;
      padding: 70px 48px;
      h3.title{
        color: #fff;
        font-size: 24px;
        font-weight: bold;
        line-height: 50px;
        font-family: $lucida;
      }
      .excerpt {
        color: #BBBBBB;
        font-family: $roboto;
        font-size: 14px;
        font-weight: 300;
        line-height: 20px;
        display: none;
      }
    }
    nav {
      display: flex;
      flex-wrap: wrap;
      a {
        margin: 10px 10px 0 0;
        padding: 10px;
        background: #fff;
        position: relative;
        z-index: 100;
        width: 120px;
        text-align: center;
        opacity: 0.85;
        border-radius: 3px;
        color: #371F21;
        font-size: 14px;
        text-transform: capitalize;
      }
    }
    &:hover{
      background-size: 105%;
    }
  }
}
@media(max-width: 768px){
  .posts {
    //display: block;
    grid-template-columns: 1fr;
    grid-auto-rows: 210px;
    .post__item {
      padding: 20px 30px;
      div {
        @include flexbox;
        @include flex-direction(column);
        @include flex(1);
        @include justify-content(flex-end);
        width: 100%;
        height: 100%;
        padding: 0;
        h3.title{
          font-size: 1.8rem;
          font-family: $josefin;
        }
      }
     }
  }
}