body.other {
  section.search.banner{
    display: none;
  }
  &.search_page {
    section.rubrics .container {
      padding-top: 100px;
    }
  }
}
section.rubrics{
  .container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
    padding: 50px 10px;
  }
  .rubrics_list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    grid-gap: 40px 20px;
    &__item{
      @include flexbox;
      @include flex-direction(column);
      @include align-items(center);
      text-align: center;
      img{
        width: 180px;
        height: 180px;
        border-radius: 50%;
        object-fit: cover;
      }
    }
  }
  .search_result > p {
    padding-top: 3em;
  }
  .contact_form{
    div.wpcf7-mail-sent-ok {
      border: 2px solid #e3e6e9;
    }
    textarea,
    input[type="email"]{
      color: #4A4A4A;
      font-family: $roboto;
      font-size: 14px;
      font-style: italic;
      font-weight: 300;
      line-height: 16px;
      background-color: rgba(245,245,245,0.5);
      width: 100%;
      border: none;
      border-bottom: 1px solid;
      margin-bottom: 10px;
    }
    input[type="email"]{
      height: 44px;
      border-radius: 3px 3px 0 0;
      padding-left: 15px;
    }
    textarea{
      resize: none;
      height: 165px;
      padding: 16px 15px;
    }
    input[type='submit']{
      background-color: #E3E6E9;
      height: 44px;
      width: 100%;
      @include flexbox;
      @include align-items(center);
      @include justify-content(center);
      border: 1px solid transparent;
      border-radius: 3px;
      padding: 0;
      transition: .1s ease;
      color: #fff;
      font-size: 14px;
      font-weight: 500;
      -webkit-appearance: none;
      &:hover,
      &.active{
        background-color: #43566B;
      }
    }
  }
  .title{
    color: #3F3F3F;
    font-family: $josefin;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    margin-top: 20px;
  }
  .subtitle{
    color: #4A4A4A;
    font-family: $roboto;
    font-size: 14px;
    line-height: 16px;
  }
}
@media(max-width: 768px){
  section.rubrics{
    .container{
      grid-template-columns: 1fr;
    }
    .rubrics_list {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 10px;
      .title {
        font-size: 18px;
      }
    }
    .rubrics_list__item img{
      width: 145px;
      height: 145px;
    }
  }
  body.other {
    section.search.banner{
      @include flexbox;
      @include align-items(center);
      @include justify-content(center);
      height: 100vh;
    }
    section.breadcrumb{
      display: none;
    }
  }
}
