section.search{
  .searchform{
    width: 100%;
    height: 44px;
    margin-top: 38px;
    position: relative;
    @include flexbox;
    @include align-items(center);
    display: grid;
    button{
      position: absolute;
      right: 15px;
      border: none;
      top: 10px;
      background: none;
      img{
        width: 24px;
        height: 24px;
      }
    }
    input{
      width: 100%;
      height: 100%;
      padding: 14px 15px;
      color: #4A4A4A;
      font-weight: 400;border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      border: none;
      font-style: italic;
      font-size: 14px;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      border: none;
    }
    ul.search_result {
      display: none;
      &.active {
        display: block;
        background: #fff;
      }
      li {
        list-style: none;
        text-align: left;
        padding: 0;
        margin: 0;
        a {
          padding: 15px;
          display: block;
          color: #3F3F3F;
          font-family: $roboto;
          font-size: 12px;
          font-weight: 500;
          line-height: 16px;
          &:hover {
            background-color: #F5F5F5;
          }
        }
      }
    }
  }
}
body.search_page {

}
@media (max-width: 768px) {
  section.search.banner{
    @include flexbox;
    @include align-items(center);
    @include justify-content(center);
    height: 100vh;
    .container{
      padding-top: 100px;
    }
  }
}